/* viewport height === vh */
html body #root .app {
  height: 100%;
}

.nav {
  display: block;
  height: 6rem;

  /* background: blueviolet; */
}

.list-group-item .peiqi {
  color: brown;
}

.main {
  display: block;
  height: calc(100vh - 6rem);
  background: burlywood;
}
